searchBar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}

swiper {
  position: absolute;
  width: 100%;
  top: 44px;
  z-index: 1;
  background-color: #f8f8f8;
}

pulltorefresh {
  padding: 100px 0 60px;
}

.my-list {
  ::ng-deep {
    .am-list-body {
      background-color: transparent;

      &:before, &:after {
        display: none !important;
      }

      .am-list-item {
        border-radius: 4px;
        margin: 15px;

        .am-list-line {
          &:after {
            display: none !important;
          }
        }
      }
    }
  }
}
::ng-deep {
  .swiper-wrapper {
    .swiper-slide {
      width: auto !important;
      font-size: 0.14rem;
      margin: 0.15rem 0.1rem;
      padding: 0.06rem 0;
      line-height: 1;

      &.curr {
        padding: 0.06rem 0.1rem;
        border-radius: 0.13rem;
        background: #F26549;
        color: #fff;
      }
    }
  }

  .am-result {
    .am-result-pic {
      width: 100px;
      height: 100px;

      .icons {
        font-size: 100px;
        color: #999;
        display: block;
        width: 100px;
        height: 100px;
        line-height: 100px;
      }
    }

    .am-result-button {
      color: #108ee9;
    }
  }
}

.add {
  position: fixed;
  z-index: 999;
  right: 10px;
  bottom: 70px;
  background-color: rgba(16, 142, 233, 0.8);
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 0.3rem;
  text-align: center;
  color: #fff;
  overflow: hidden;

  i {
    font-size: 0.24rem;
    font-weight: bold;
    line-height: 1;
    display: block;
    margin-top: 0.1rem;
  }

  p {
    font-size: 0.12rem;
  }
}
