.am-list-item {
  .am-list-line {
    .am-input-label {
      font-size: 0.15rem;
    }
    .am-input-control {
      input {
        font-size: 0.15rem;
      }
    }
    .am-textarea-control {
      textarea {
        font-size: 0.15rem;
      }
    }
    .am-list-content {
      font-size: 0.15rem;
    }
    .am-list-extra {
      font-size: 0.15rem;
    }
  }
}
